<h3>Playlist name</h3>
{{playlist.name}}

<h3>Songlist</h3>
{{#each playlist.tracks as |track| }}
  <p>
    title: {{track.title}}/ artist: {{track.artist}}
    <button {{action 'addToQueue' track}}>Add to queue</button>
  </p>
{{/each}}

{{#link-to 'playlists.index'}}View all{{/link-to}}
