<h1>Playlists section</h1>
{{#each playlists as |playlist index| }}
  <p>{{index}}. Name: {{playlist.name}} / Owner: {{playlist.owner}}</p>
  {{#link-to 'playlists.detail' playlist._id}}View{{/link-to}}
{{/each}}
